In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
#!pip install utm : librearia para pasar de coordenadas utm a longitud&latitud
import utm

In [2]:
pd.set_option('max_columns', None)
df=pd.read_csv('dataset/accidents_opendata.csv')
df.head()

,case_id,district_id,district_name,neighborhood_id,neighborhood_name,street_code,street_name,postal_code,weekday_name,weekday,type_day,year,month,month_name,day,hour,cyrcadian,cause_incident,n_deaths,n_wounded_mild,n_wounded_severe,n_victims,n_vehicles,utm_coordinate_y,utm_coordinate_x,longitude,latitude
0,2015S005807,-1.0,Desconegut,-1.0,Desconegut,-1.0,Desconegut,Desconegut,Dimarts,Dm,Laboral,2015.0,7.0,Juliol,28.0,12.0,Matí,No és causa del vianant,0.0,2.0,0.0,2.0,2.0,-1,-1,NaN,NaN
1,2015S007685,10.0,Sant Martí,64.0,el Camp de l'Arpa del Clot,134801.0,Freser,0208 0208,Dimarts,Dm,Laboral,2015.0,10.0,Octubre,13.0,19.0,Tarda,Desobeir el senyal del semàfor,0.0,1.0,0.0,1.0,1.0,"4585420,58","431779,16",NaN,NaN
2,2015S001364,10.0,Sant Martí,64.0,el Camp de l'Arpa del Clot,161407.0,Indústria,0336 0336,Dissabte,Ds,Laboral,2015.0,2.0,Febrer,21.0,21.0,Tarda,No és causa del vianant,0.0,1.0,0.0,1.0,1.0,"4585555,86","431913,65",NaN,NaN
3,2015S004325,10.0,Sant Martí,64.0,el Camp de l'Arpa del Clot,226400.0,Las Navas de Tolosa,0343 0343,Divendres,Dv,Laboral,2015.0,6.0,Juny,5.0,9.0,Matí,No és causa del vianant,0.0,1.0,0.0,1.0,2.0,"4585565,44","431946,45",NaN,NaN
4,2015S005540,10.0,Sant Martí,64.0,el Camp de l'Arpa del Clot,95506.0,Conca,0032 0034,Divendres,Dv,Laboral,2015.0,7.0,Juliol,17.0,20.0,Tarda,No és causa del vianant,0.0,2.0,0.0,2.0,1.0,"4585260,16","431530,84",NaN,NaN

In [3]:
df.isnull().sum()

case_id                  0
district_id              1
district_name            1
neighborhood_id          1
neighborhood_name        1
street_code              1
street_name              2
postal_code           4804
weekday_name             0
weekday               7660
type_day              7660
year                     1
month                    1
month_name               1
day                      1
hour                     1
cyrcadian                0
cause_incident           1
n_deaths                 1
n_wounded_mild           1
n_wounded_severe         1
n_victims                1
n_vehicles               1
utm_coordinate_y         1
utm_coordinate_x         1
longitude            56310
latitude             56310
dtype: int64

In [4]:
df.columns

Index(['case_id', 'district_id', 'district_name', 'neighborhood_id',
       'neighborhood_name', 'street_code', 'street_name', 'postal_code',
       'weekday_name', 'weekday', 'type_day', 'year', 'month', 'month_name',
       'day', 'hour', 'cyrcadian', 'cause_incident', 'n_deaths',
       'n_wounded_mild', 'n_wounded_severe', 'n_victims', 'n_vehicles',
       'utm_coordinate_y', 'utm_coordinate_x', 'longitude', 'latitude'],
      dtype='object')

In [5]:
# Eliminar columnas no útiles
df.drop(['case_id',
         'district_id',
         'neighborhood_id',
         'street_code',
         'street_name',
         'postal_code',
         'weekday',
         'month',
         'day',
         'longitude',
         'latitude',
         'type_day'],
         axis=1,inplace=True)

In [6]:
df.shape

(110655, 15)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110655 entries, 0 to 110654
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   district_name      110654 non-null  object
 1   neighborhood_name  110654 non-null  object
 2   weekday_name       110655 non-null  object
 3   year               110654 non-null  float64
 4   month_name         110654 non-null  object
 5   hour               110654 non-null  float64
 6   cyrcadian          110655 non-null  object
 7   cause_incident     110654 non-null  object
 8   n_deaths           110654 non-null  float64
 9   n_wounded_mild     110654 non-null  float64
 10  n_wounded_severe   110654 non-null  float64
 11  n_victims          110654 non-null  float64
 12  n_vehicles         110654 non-null  float64
 13  utm_coordinate_y   110654 non-null  object
 14  utm_coordinate_x   110654 non-null  object
dtypes: float64(7), object(8)
memory usage: 12.7+ MB

In [8]:
# Revisamos la cantidad de duplicados.
df.duplicated().sum()

64

In [9]:
#Eliminamos duplicados
df=df.drop_duplicates()
df.duplicated().sum()

0

In [10]:
# Revisamos la cantida de nulos
df.isnull().sum()

district_name        1
neighborhood_name    1
weekday_name         0
year                 1
month_name           1
hour                 1
cyrcadian            0
cause_incident       1
n_deaths             1
n_wounded_mild       1
n_wounded_severe     1
n_victims            1
n_vehicles           1
utm_coordinate_y     1
utm_coordinate_x     1
dtype: int64

In [11]:
#Eliminamos valores nulos
df=df.dropna()
df.isnull().sum()

district_name        0
neighborhood_name    0
weekday_name         0
year                 0
month_name           0
hour                 0
cyrcadian            0
cause_incident       0
n_deaths             0
n_wounded_mild       0
n_wounded_severe     0
n_victims            0
n_vehicles           0
utm_coordinate_y     0
utm_coordinate_x     0
dtype: int64

In [12]:
#Cambiamos los data type de float a int
df['year']=df['year'].astype(int)
df['n_deaths']=df['n_deaths'].astype(int)
df['n_wounded_mild']=df['n_wounded_mild'].astype(int)
df['n_wounded_severe']=df['n_wounded_severe'].astype(int)
df['n_victims']=df['n_victims'].astype(int)
df['n_vehicles']=df['n_vehicles'].astype(int)
df['hour']=df['hour'].astype(int)
df['utm_coordinate_y']=df['utm_coordinate_y'].apply(lambda x: float(x.replace(',','.')))
df['utm_coordinate_x']=df['utm_coordinate_x'].apply(lambda x: float(x.replace(',','.')))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110590 entries, 0 to 110654
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   district_name      110590 non-null  object
 1   neighborhood_name  110590 non-null  object
 2   weekday_name       110590 non-null  object
 3   year               110590 non-null  int32
 4   month_name         110590 non-null  object
 5   hour               110590 non-null  int32
 6   cyrcadian          110590 non-null  object
 7   cause_incident     110590 non-null  object
 8   n_deaths           110590 non-null  int32
 9   n_wounded_mild     110590 non-null  int32
 10  n_wounded_severe   110590 non-null  int32
 11  n_victims          110590 non-null  int32
 12  n_vehicles         110590 non-null  int32
 13  utm_coordinate_y   110590 non-null  float64
 14  utm_coordinate_x   110590 non-null  float64
dtypes: float64(2), int32(7), object(6)
memory usage: 10.5+ MB

In [13]:
# Reseteamos el indice, al eliminar registros/filas también se eliminan los indices.
df=df.reset_index()

In [14]:
# Como obtener latitud y longitud a partir de coordenadas UTM
# Cataluña: 31 , T (Referencia según medidas UTM para posicionar Cataluña)
# utm.to_latlon(utm_coordinate_x, utm_coordinate_y, 31, 'T')

# Coordenadas
print(utm.to_latlon(431779.16, 4585420.58, 31, 'T'))

# Latitud
print(utm.to_latlon(431779.16, 4585420.58, 31, 'T')[0])

# Longitud
print(utm.to_latlon(431779.16, 4585420.58, 31, 'T')[1])

(41.41744462407189, 2.1836588917896234)
41.41744462407189
2.1836588917896234

In [15]:
df.shape

(110590, 16)

In [16]:
# Creamos una nueva columna con las latitudes
latitude=[]
for i in range(0,df.shape[0]):
    try:
        latitude.append(utm.to_latlon(df.iloc[i]['utm_coordinate_x'],df.iloc[i]['utm_coordinate_y'],31,'T')[0])
    except:
        latitude.append(np.nan)
df['latitude']=latitude

In [17]:
# Creamos una nueva columna con las longitudes
longitude=[]
for i in range(0,df.shape[0]):
    try:
        longitude.append(utm.to_latlon(df.iloc[i]['utm_coordinate_x'],df.iloc[i]['utm_coordinate_y'],31,'T')[1])
    except:
        longitude.append(np.nan)
df['longitude']=longitude

In [18]:
df

,index,district_name,neighborhood_name,weekday_name,year,month_name,hour,cyrcadian,cause_incident,n_deaths,n_wounded_mild,n_wounded_severe,n_victims,n_vehicles,utm_coordinate_y,utm_coordinate_x,latitude,longitude
0,0,Desconegut,Desconegut,Dimarts,2015,Juliol,12,Matí,No és causa del vianant,0,2,0,2,2,-1.00,-1.00,NaN,NaN
1,1,Sant Martí,el Camp de l'Arpa del Clot,Dimarts,2015,Octubre,19,Tarda,Desobeir el senyal del semàfor,0,1,0,1,1,4585420.58,431779.16,41.417445,2.183659
2,2,Sant Martí,el Camp de l'Arpa del Clot,Dissabte,2015,Febrer,21,Tarda,No és causa del vianant,0,1,0,1,1,4585555.86,431913.65,41.418674,2.185253
3,3,Sant Martí,el Camp de l'Arpa del Clot,Divendres,2015,Juny,9,Matí,No és causa del vianant,0,1,0,1,2,4585565.44,431946.45,41.418764,2.185644
4,4,Sant Martí,el Camp de l'Arpa del Clot,Divendres,2015,Juliol,20,Tarda,No és causa del vianant,0,2,0,2,1,4585260.16,431530.84,41.415979,2.180706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110585,110650,Les Corts,Pedralbes,Dimarts,2019,Desembre,15,Tarda,No és causa del vianant,0,1,0,1,1,4582580.73,426884.52,41.391437,2.125438
110586,110651,Sant Martí,el Camp de l'Arpa del Clot,Dimarts,2019,Desembre,19,Tarda,No és causa del vianant,0,1,0,1,2,4585401.31,431576.15,41.417254,2.181232
110587,110652,Eixample,el Fort Pienc,Dimarts,2019,Desembre,16,Tarda,No és causa del vianant,0,1,0,1,2,4583086.37,431561.78,41.396403,2.181322
110588,110653,Les Corts,les Corts,Dimarts,2019,Desembre,21,Tarda,No és causa del vianant,0,1,0,1,2,4582172.65,427314.36,41.387800,2.130628
110589,110654,Eixample,la Sagrada Família,Dimecres,2019,Novembre,7,Matí,No és causa del vianant,0,0,1,1,2,4584121.58,431324.88,41.405706,2.178371

In [19]:
df['utm_coordinate_x'].iloc[1], df['utm_coordinate_y'].iloc[1]

(431779.16, 4585420.58)

In [26]:
df['latitude'].iloc[1], df['longitude'].iloc[1]

(41.41867445316352, 2.1852528357688525)

In [20]:
df.isnull().sum()

index                    0
district_name            0
neighborhood_name        0
weekday_name             0
year                     0
month_name               0
hour                     0
cyrcadian                0
cause_incident           0
n_deaths                 0
n_wounded_mild           0
n_wounded_severe         0
n_victims                0
n_vehicles               0
utm_coordinate_y         0
utm_coordinate_x         0
latitude             14155
longitude            14155
dtype: int64

In [21]:
df=df.dropna()

In [22]:
df.isnull().sum()

index                0
district_name        0
neighborhood_name    0
weekday_name         0
year                 0
month_name           0
hour                 0
cyrcadian            0
cause_incident       0
n_deaths             0
n_wounded_mild       0
n_wounded_severe     0
n_victims            0
n_vehicles           0
utm_coordinate_y     0
utm_coordinate_x     0
latitude             0
longitude            0
dtype: int64

In [23]:
df

,index,district_name,neighborhood_name,weekday_name,year,month_name,hour,cyrcadian,cause_incident,n_deaths,n_wounded_mild,n_wounded_severe,n_victims,n_vehicles,utm_coordinate_y,utm_coordinate_x,latitude,longitude
1,1,Sant Martí,el Camp de l'Arpa del Clot,Dimarts,2015,Octubre,19,Tarda,Desobeir el senyal del semàfor,0,1,0,1,1,4585420.58,431779.16,41.417445,2.183659
2,2,Sant Martí,el Camp de l'Arpa del Clot,Dissabte,2015,Febrer,21,Tarda,No és causa del vianant,0,1,0,1,1,4585555.86,431913.65,41.418674,2.185253
3,3,Sant Martí,el Camp de l'Arpa del Clot,Divendres,2015,Juny,9,Matí,No és causa del vianant,0,1,0,1,2,4585565.44,431946.45,41.418764,2.185644
4,4,Sant Martí,el Camp de l'Arpa del Clot,Divendres,2015,Juliol,20,Tarda,No és causa del vianant,0,2,0,2,1,4585260.16,431530.84,41.415979,2.180706
5,5,Sant Martí,el Camp de l'Arpa del Clot,Dimarts,2015,Març,12,Matí,Desobeir el senyal del semàfor,0,1,0,1,1,4585174.30,431648.74,41.415215,2.182126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110585,110650,Les Corts,Pedralbes,Dimarts,2019,Desembre,15,Tarda,No és causa del vianant,0,1,0,1,1,4582580.73,426884.52,41.391437,2.125438
110586,110651,Sant Martí,el Camp de l'Arpa del Clot,Dimarts,2019,Desembre,19,Tarda,No és causa del vianant,0,1,0,1,2,4585401.31,431576.15,41.417254,2.181232
110587,110652,Eixample,el Fort Pienc,Dimarts,2019,Desembre,16,Tarda,No és causa del vianant,0,1,0,1,2,4583086.37,431561.78,41.396403,2.181322
110588,110653,Les Corts,les Corts,Dimarts,2019,Desembre,21,Tarda,No és causa del vianant,0,1,0,1,2,4582172.65,427314.36,41.387800,2.130628
110589,110654,Eixample,la Sagrada Família,Dimecres,2019,Novembre,7,Matí,No és causa del vianant,0,0,1,1,2,4584121.58,431324.88,41.405706,2.178371

In [27]:
df['latitude']=df['latitude'].astype(str)
df['longitude']=df['longitude'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96435 entries, 0 to 96434
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   level_0            96435 non-null  int64
 1   index              96435 non-null  int64
 2   district_name      96435 non-null  object
 3   neighborhood_name  96435 non-null  object
 4   weekday_name       96435 non-null  object
 5   year               96435 non-null  int32
 6   month_name         96435 non-null  object
 7   hour               96435 non-null  int32
 8   cyrcadian          96435 non-null  object
 9   cause_incident     96435 non-null  object
 10  n_deaths           96435 non-null  int32
 11  n_wounded_mild     96435 non-null  int32
 12  n_wounded_severe   96435 non-null  int32
 13  n_victims          96435 non-null  int32
 14  n_vehicles         96435 non-null  int32
 15  utm_coordinate_y   96435 non-null  float64
 16  utm_coordinate_x   96435 non-null  float64
 17  latitude           96435 non-null  object
 18  longitude          96435 non-null  object
dtypes: float64(2), int32(7), int64(2), object(8)
memory usage: 11.4+ MB

In [29]:
df.to_csv('bcn_accidents_v1.csv')